.container {
    background-color: rgb(181, 181, 181);
    margin: 0 auto;
    width: 75%;
    border-radius: 12px;
    border: 1px solid grey;
    padding: 10px;
}

.cards {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
 }

.action {
   display: flex; 
   justify-content: space-evenly;
   align-items: center;
}

h2 {
    text-align: center;
}

button {
    width: 150px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
    outline: none;
}

button:hover {
    background-color: rgb(255, 244, 230);
}
