.container {
    background-color: rgb(181, 181, 181);
    margin: 0 auto;
    width: 50%;
    border-radius: 12px;
    border: 1px solid grey;
    padding: 10px;
}

.cards {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
 }

 .card {
    margin: 0 auto;
    width: 40%;
    padding: 10px;
    text-align: center;
 }

.active {
   display: flex; 
   justify-content: space-evenly;
   align-items: center;
   margin: 0 auto;
   
}

h2 {
    text-align: center;
}

button {
    width: 100px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
    outline: none;
}

button:hover {
    background-color: rgb(255, 244, 230);
}

.stats {
    height: 200px;
}

.restart {
    float: right;
}

.goBtns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#announcement {
    text-align: center;
    height: 30px;
}