.App {
  text-align: center;
  border: 1px solid #282c34;
  border-radius: 8px;
  color: #282c34;
  width: 60%;
  padding: 10px;
  margin: 0 auto;
}

input, .add {
  outline: none;
  border-radius: 8px;
  border: 1px solid #282c34;  
  margin: 3px;
  padding: 5px;
}

input {
  width: 200px;
  margin: 0 auto;
}

.delete {
  border: none;
  padding: 5px;
  outline: none;
  margin-right: 10px;
  float: left;
}

/* p {
  width: 40%;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
} */

/* beer stuff */

.cardSection, .section{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
}

p{
  text-align: center;
  padding: 5px;
}

.beerCard{
  display: inline-block;
  width: 65%;
  /* height: 275px; */
  border: 1px solid grey;
  padding: 10px;
  margin: 3px;
}

.loveBtn, .shareBtn {
  padding: 10px;
  font-size: 10px;
  border-radius: 8px;
  background-color: transparent;
  outline: none;
  border: none
}

/* .buttons {
  display: flex;
  justify-content: center;
} */
