.App {
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  font-size: 20px;
  color:  rgb(102, 100, 100);
}

img {
  width: 100px;
  max-height: 350px;
  padding: 5px;
}

.pairing{
  list-style: none;
}

.container {
  width: 450px;
  background-color: darkgrey;
  border-radius: 12px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 2px 2px 3px 3px rgb(102, 100, 100);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

